.grid{
  height: 90%;
  background-color: #78bcc4;
  display: flex;
  flex-wrap: wrap;
}

.gridItem{
  border: 1px solid black;
  box-sizing: border-box
}

.pickedUpItem{
  width: 15%;
  height: 25%;
  visibility: hidden;
  position: absolute;
  transform: translate(-50%, 10%);
  background-size: 100% 100%;
}